# Entornos virtuales
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.sqlite3

# VS Code
.vscode/

# Windows
.DS_Store
Thumbs.db

# Docker
*.tar

# Otros
Prueba técnica Python.docx
Instrucciones para la prueba técnica.docx
